.main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.card {
  width: 610px;
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.4);
}

.input-group {
  padding: 0 30px 10px 30px;
}

/*remove arrow from input number*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.formLabel {
  padding: 8px 30px 0 30px;
}

.invalid-warning {
  padding: 0 0 0 30px;
}


#submitButton {
  text-align: center;
  margin-left: 32px;
  margin-top: 10px;
}

#submitButton:disabled {
  cursor: not-allowed;
}

#submitButton1 {
  text-align: center;
  margin-left: 32px;
  margin-top: 10px;
}

#submitButton1:disabled {
  cursor: not-allowed;
}

#footerText {
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  padding: 0 12px;
}

@media only screen and (max-width: 600px) {
  .main {
    overflow: hidden;
  }

  .card {
    width: auto;
  }

  #mediaHeading {
    font-size: 28px;
  }

  #footerText {
    display: none;
    font-size: 10px;
  }
}

@media only screen and (max-device-width: 320px)
and (max-device-height: 600px) {
  #mediaHeading {
    font-size: 24px;
  }
}



