.main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.card {
  padding-bottom: 20px;
  width: 610px;
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.input-group {
  /* top right bottom left */
  padding: 0 30px 10px 30px;
}

.formLabel {
  padding: 8px 30px 0 30px;
}

.invalid-warning {
  padding: 0 0 0 30px;
}


#submitButton {
  text-align: center;
  margin-left: 32px;
  margin-top: 10px;
}

#submitButton:disabled {
  cursor: not-allowed;
}

#submitButton1 {
  text-align: center;
  margin-left: 32px;
  margin-top: 10px;
}

#submitButton1:disabled {
  cursor: not-allowed;
}

#feetBorderRadius {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}

#inputBorderRadius {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}

@media only screen and (max-width: 600px) {
  .main{
    overflow: hidden;
  }
  .card {
    justify-content: center;
    width: 100%;
    height: 100vh;
  }
  #mediaHeading {
    font-size: 28px;
  }
}
@media only screen and (max-device-width: 320px)
and (max-device-height: 600px) {
  #mediaHeading {
    font-size: 24px;
  }
}



