<div class="main">
  <!-- card start -->
  <div class="card">
    <div class="card-header text-center font-weight-bold text-info">
      <h1 id="mediaHeading">Want to know your B.M.I.</h1>
    </div>
    <div class="pt-3 pl-4">
      <div class="btn-group">
        <button type="button" class="btn btn-sm btn-info" (click)="toggleMetricForm()">Metric</button>
        <button type="button" class="btn btn-sm btn-primary" (click)="toggleImperialForm()">Imperial</button>
      </div>
    </div>
    <!-- input form metric start -->
    <div *ngIf="!this.showImperialForm">
      <form [formGroup]="bmiForm" (ngSubmit)="computeBMI()">
        <label class="formLabel" for="name">Enter your First Name</label>
        <div class="input-group">
          <input class="form-control" placeholder="Enter your first name here"
                 formControlName="name">
        </div>
        <div *ngIf="bmiForm.controls['name'].invalid && bmiForm.controls['name'].touched" class="text-danger">
          <div *ngIf="bmiForm.controls['name'].invalid" class="invalid-warning">
            Name is required !
          </div>
        </div>
        <label class="formLabel" for="weight">Enter your Weight</label>
        <div class="input-group">
          <input type="number" class="form-control" placeholder="Enter your weight here"
                 formControlName="weight">
          <div class="input-group-append">
            <span class="input-group-text bg-info text-light">Kg</span>
          </div>
        </div>
        <div *ngIf="bmiForm.controls['weight'].invalid && bmiForm.controls['weight'].touched" class="text-danger">
          <div *ngIf="bmiForm.controls['weight'].invalid" class="invalid-warning">
            Weight is required !
          </div>
        </div>
        <label class="formLabel" for="height">Enter your Height</label>
        <div class="input-group">
          <input type="number" class="form-control" placeholder="Enter your Height here"
                 formControlName="height">
          <div class="input-group-append">
            <span class="input-group-text bg-info text-light">Cm</span>
          </div>
        </div>
        <div *ngIf="bmiForm.controls['height'].invalid && bmiForm.controls['height'].touched" class="text-danger">
          <div *ngIf="bmiForm.controls['height'].invalid" class="invalid-warning">
            Height is required !
          </div>
        </div>
        <button type="submit" id="submitButton" class="btn btn-info submitButton" data-toggle="modal"
                data-target="#exampleModalCenter" [disabled]="!bmiForm.valid">Compute BMI
        </button>
      </form>
    </div>
    <!-- input form metric end -->

    <!-- input form imperial start -->
    <div *ngIf="this.showImperialForm">
      <form [formGroup]="bmiForm" (ngSubmit)="computeBMI()">
        <label class="formLabel" for="name">Enter your First Name</label>
        <div class="input-group">
          <input class="form-control" placeholder="Enter your first name here"
                 formControlName="name">
        </div>
        <div *ngIf="bmiForm.controls['name'].invalid && bmiForm.controls['name'].touched" class="text-danger">
          <div *ngIf="bmiForm.controls['name'].invalid" class="invalid-warning">
            Name is required !
          </div>
        </div>
        <label class="formLabel" for="weight">Enter your Weight</label>
        <div class="input-group">
          <input type="number" class="form-control" placeholder="Enter your weight here"
                 formControlName="weight">
          <div class="input-group-append">
            <span class="input-group-text bg-primary text-light">lbs</span>
          </div>
        </div>
        <div *ngIf="bmiForm.controls['weight'].invalid && bmiForm.controls['weight'].touched" class="text-danger">
          <div *ngIf="bmiForm.controls['weight'].invalid" class="invalid-warning">
            Weight is required !
          </div>
        </div>
        <label class="formLabel" for="height">Enter your Height</label>
        <div class="input-group">
          <input type="number" class="form-control" id="inputBorderRadius" placeholder="Enter your Height here"
                 formControlName="height">
          <div class="input-group-append">
            <span class="input-group-text bg-primary text-light">in</span>
          </div>
        </div>
        <div *ngIf="bmiForm.controls['height'].invalid && bmiForm.controls['height'].touched"
             class="text-danger">
          <div *ngIf="bmiForm.controls['height'].invalid" class="invalid-warning">
            Height is required !
          </div>
        </div>
        <button type="submit" id="submitButton1" class="btn btn-primary" data-toggle="modal"
                data-target="#exampleModalCenter" [disabled]="!bmiForm.valid">Compute BMI
        </button>
      </form>
    </div>
    <!-- input form imperial end -->

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document" data-trigger="focus">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Hey {{bmiForm.value.name}}, here is your BMI</h5>
            <button type="button" class="close text-danger" data-dismiss="modal" aria-label="Close"
                    (click)="resetForm()">
              <span aria-hidden="true" class="text-danger">
                <i class="fa fa-xmark"></i>
              </span>
            </button>
          </div>
          <div class="modal-body">
            <!-- show BMI value and BMI category -->
            <div class="result" *ngIf="bmiForm.valid">
              <h5 *ngIf="!this.showImperialForm">
                {{this.bmiPrefix}} {{this.BMI |  number : '1.2-2'}} {{this.BmiUnitInMetric}}<sup>2</sup>
              </h5>
              <h5 *ngIf="this.showImperialForm">
                {{this.bmiPrefix}} {{this.BMI |  number : '1.2-2'}} {{this.BmiUnitInImperial}}<sup>2</sup>
              </h5>

              <!--    control statement for text-color for result-->
              <h6 *ngIf="this.result === 'Your BMI is - Underweight.'" class="text-primary">
                {{ this.result}}
              </h6>
              <h6 *ngIf="this.result === 'Your BMI is - Normal Weight.'" class="text-success">
                {{ this.result}}
              </h6>
              <h6 *ngIf="this.result === 'Your BMI is - Overweight.'" class="text-warning">
                {{ this.result}}
              </h6>
              <h6 *ngIf="this.result === 'Your BMI is - Obesity.'" class="text-danger">
                {{ this.result}}
              </h6>
            </div>
            <!-- end of show BMI value and BMI category -->
            <hr>
            <!-- weight suggestions-->
            <div class="weightSuggestions">
              <p>
                {{this.normalWeight}}
                <br>
                {{this.weightSuggestion}}
              </p>
            </div>
            <!-- end of weight suggestions-->
            <hr>
            <h6>BMI Categories:</h6>
            <span class="text-primary">Underweight = less than 18.5</span>
            <br>
            <span class="text-success">Normal weight = 18.5 - 24.9</span>
            <br>
            <span class="text-warning">Overweight = 25 - 29.9</span>
            <br>
            <span class="text-danger">Obesity = BMI of 30 or greater</span>
          </div>
        </div>
      </div>
    </div>
    <!--    end of modal-->
  </div>
  <!-- card end -->
</div>
<!--end of main-->
