<!-- card start -->
<div class="card" style="border: 1px solid black; height: 600px;
width: 600px; margin: 0 auto;box-shadow: 6cm; border-radius: 10px; margin-top: 80px;">
<div class="card-header text-center font-weight-bold">
  <h1>Want to know your B.M.I.</h1>
</div>
<!-- input form start -->
    <form [formGroup]="bmiForm" (ngSubmit)="computeBMI()">
      <label for="weight">Enter your Weight</label>
      <div class="input-group">
        <input type="number" class="form-control" placeholder="Enter your weight here"
        formControlName="weight">
        <select>
          <option>Kilogram</option>
          <option>Pound</option>
        </select>
      </div>
      <label for="">Enter your Height</label>
      <div class="input-group">
        <input type="number" class="form-control" placeholder="Enter your Height here"
        formControlName="height">
        <select class="button">
          <option>Centimeters</option>
          <option>Feet</option>
        </select>
      </div>

      <button type="submit" class="btn btn-info" [disabled]="!bmiForm.valid">Compute BMI</button>
    </form>
<!-- input form end -->

<!-- show BMI value and BMI category -->
<div class="result">
  {{this.BMI}}
  <br>
  {{this.result}}
</div>
</div>
<!-- card end -->

